virtualenv
.vscode 
venv 
*.pdf
*.xlsx
./app/__pycache__/*
.\app\__pycache__\*
.\alembic\__pycache__\*
./alembic/__pycache__/*
./app/__pycache__
.\app\__pycache__
app/__pycache__/

*\__pycache__\*.pyc
*/__pycache__/*.pyc

.\__pycache__\*.pyc

brother/.vs/brother/FileContentIndex/7bd941d2-631b-448f-bcc3-b7ee40b29f54.vsidx