-- MySQL dump 10.13  Distrib 8.0.27, for Win64 (x86_64)
--
-- Host: 192.168.2.253    Database: appdb
-- ------------------------------------------------------
-- Server version	8.0.28

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `advanced_lines`
--

DROP TABLE IF EXISTS `advanced_lines`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `advanced_lines` (
  `id` int NOT NULL AUTO_INCREMENT,
  `origin_id` int DEFAULT NULL,
  `proforma_id` int DEFAULT NULL,
  `item_id` int DEFAULT NULL,
  `mixed_description` varchar(50) DEFAULT NULL,
  `free_description` varchar(50) DEFAULT NULL,
  `condition` varchar(50) DEFAULT NULL,
  `spec` varchar(50) DEFAULT NULL,
  `quantity` int NOT NULL,
  `price` double DEFAULT NULL,
  `tax` int NOT NULL,
  `ignore_spec` tinyint(1) NOT NULL,
  `showing_condition` varchar(50) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `proforma_id` (`proforma_id`),
  KEY `item_id` (`item_id`),
  CONSTRAINT `advanced_lines_ibfk_1` FOREIGN KEY (`proforma_id`) REFERENCES `sale_proformas` (`id`),
  CONSTRAINT `advanced_lines_ibfk_2` FOREIGN KEY (`item_id`) REFERENCES `items` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `advanced_lines`
--

LOCK TABLES `advanced_lines` WRITE;
/*!40000 ALTER TABLE `advanced_lines` DISABLE KEYS */;
/*!40000 ALTER TABLE `advanced_lines` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `advanced_lines_definition`
--

DROP TABLE IF EXISTS `advanced_lines_definition`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `advanced_lines_definition` (
  `id` int NOT NULL AUTO_INCREMENT,
  `line_id` int DEFAULT NULL,
  `item_id` int NOT NULL,
  `condition` varchar(50) NOT NULL,
  `spec` varchar(50) NOT NULL,
  `quantity` int DEFAULT NULL,
  `local_count_relevant` tinyint(1) DEFAULT NULL,
  `global_count_relevant` tinyint(1) DEFAULT NULL,
  `showing_condition` varchar(50) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `line_id` (`line_id`),
  KEY `item_id` (`item_id`),
  CONSTRAINT `advanced_lines_definition_ibfk_1` FOREIGN KEY (`line_id`) REFERENCES `advanced_lines` (`id`),
  CONSTRAINT `advanced_lines_definition_ibfk_2` FOREIGN KEY (`item_id`) REFERENCES `items` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `advanced_lines_definition`
--

LOCK TABLES `advanced_lines_definition` WRITE;
/*!40000 ALTER TABLE `advanced_lines_definition` DISABLE KEYS */;
/*!40000 ALTER TABLE `advanced_lines_definition` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `agent_documents`
--

DROP TABLE IF EXISTS `agent_documents`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `agent_documents` (
  `id` int NOT NULL AUTO_INCREMENT,
  `agent_id` int DEFAULT NULL,
  `name` varchar(50) DEFAULT NULL,
  `document` longblob,
  PRIMARY KEY (`id`),
  UNIQUE KEY `name` (`name`),
  KEY `agent_id` (`agent_id`),
  CONSTRAINT `agent_documents_ibfk_1` FOREIGN KEY (`agent_id`) REFERENCES `agents` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `agent_documents`
--

LOCK TABLES `agent_documents` WRITE;
/*!40000 ALTER TABLE `agent_documents` DISABLE KEYS */;
/*!40000 ALTER TABLE `agent_documents` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `agents`
--

DROP TABLE IF EXISTS `agents`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `agents` (
  `id` int NOT NULL AUTO_INCREMENT,
  `fiscal_number` varchar(50) DEFAULT NULL,
  `fiscal_name` varchar(50) DEFAULT NULL,
  `email` varchar(50) DEFAULT NULL,
  `phone` varchar(60) DEFAULT NULL,
  `active` tinyint(1) DEFAULT NULL,
  `country` varchar(50) DEFAULT NULL,
  `created_on` datetime DEFAULT NULL,
  `fixed_salary` double NOT NULL,
  `from_profit` double NOT NULL,
  `from_turnover` double NOT NULL,
  `fixed_perpiece` double NOT NULL,
  `bank_name` varchar(50) DEFAULT NULL,
  `iban` varchar(50) DEFAULT NULL,
  `swift` varchar(50) DEFAULT NULL,
  `bank_address` varchar(50) DEFAULT NULL,
  `bank_postcode` varchar(50) DEFAULT NULL,
  `bank_city` varchar(50) DEFAULT NULL,
  `bank_state` varchar(50) DEFAULT NULL,
  `bank_country` varchar(50) DEFAULT NULL,
  `bank_routing` varchar(50) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `fiscal_name` (`fiscal_name`),
  CONSTRAINT `no_empty_email` CHECK ((`email` <> _utf8mb4'')),
  CONSTRAINT `no_empty_fiscal_name` CHECK ((`fiscal_name` <> _utf8mb4'')),
  CONSTRAINT `no_empty_fiscal_number` CHECK ((`fiscal_number` <> _utf8mb4'')),
  CONSTRAINT `no_empty_phone` CHECK ((`phone` <> _utf8mb4''))
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `agents`
--

LOCK TABLES `agents` WRITE;
/*!40000 ALTER TABLE `agents` DISABLE KEYS */;
/*!40000 ALTER TABLE `agents` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `alembic_version`
--

DROP TABLE IF EXISTS `alembic_version`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `alembic_version` (
  `version_num` varchar(32) NOT NULL,
  PRIMARY KEY (`version_num`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `alembic_version`
--

LOCK TABLES `alembic_version` WRITE;
/*!40000 ALTER TABLE `alembic_version` DISABLE KEYS */;
INSERT INTO `alembic_version` VALUES ('95726dbfcdb4');
/*!40000 ALTER TABLE `alembic_version` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `condition_changes`
--

DROP TABLE IF EXISTS `condition_changes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `condition_changes` (
  `id` int NOT NULL AUTO_INCREMENT,
  `sn` varchar(50) NOT NULL,
  `before` varchar(50) NOT NULL,
  `after` varchar(50) NOT NULL,
  `created_on` datetime DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `condition_changes`
--

LOCK TABLES `condition_changes` WRITE;
/*!40000 ALTER TABLE `condition_changes` DISABLE KEYS */;
/*!40000 ALTER TABLE `condition_changes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `conditions`
--

DROP TABLE IF EXISTS `conditions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `conditions` (
  `id` int NOT NULL AUTO_INCREMENT,
  `description` varchar(50) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `description` (`description`)
) ENGINE=InnoDB AUTO_INCREMENT=17 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `conditions`
--

LOCK TABLES `conditions` WRITE;
/*!40000 ALTER TABLE `conditions` DISABLE KEYS */;
INSERT INTO `conditions` VALUES (6,'A-'),(15,'A-/AB'),(3,'A/AB'),(4,'A+'),(5,'A+/A'),(14,'A+/A/A-'),(9,'AB'),(7,'AB/LCD A+'),(12,'AS IS'),(8,'B/LCD A+'),(16,'B+'),(10,'BC'),(11,'C'),(1,'Mix'),(13,'New');
/*!40000 ALTER TABLE `conditions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `couriers`
--

DROP TABLE IF EXISTS `couriers`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `couriers` (
  `id` int NOT NULL AUTO_INCREMENT,
  `description` varchar(50) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `description` (`description`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `couriers`
--

LOCK TABLES `couriers` WRITE;
/*!40000 ALTER TABLE `couriers` DISABLE KEYS */;
INSERT INTO `couriers` VALUES (1,'DHL Express');
/*!40000 ALTER TABLE `couriers` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `expedition_lines`
--

DROP TABLE IF EXISTS `expedition_lines`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `expedition_lines` (
  `id` int NOT NULL AUTO_INCREMENT,
  `expedition_id` int DEFAULT NULL,
  `item_id` int NOT NULL,
  `condition` varchar(50) NOT NULL,
  `spec` varchar(50) NOT NULL,
  `showing_condition` varchar(50) DEFAULT NULL,
  `quantity` int NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `id` (`id`,`expedition_id`),
  KEY `expedition_id` (`expedition_id`),
  KEY `item_id` (`item_id`),
  CONSTRAINT `expedition_lines_ibfk_1` FOREIGN KEY (`expedition_id`) REFERENCES `expeditions` (`id`),
  CONSTRAINT `expedition_lines_ibfk_2` FOREIGN KEY (`item_id`) REFERENCES `items` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=102 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `expedition_lines`
--

LOCK TABLES `expedition_lines` WRITE;
/*!40000 ALTER TABLE `expedition_lines` DISABLE KEYS */;
/*!40000 ALTER TABLE `expedition_lines` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `expedition_series`
--

DROP TABLE IF EXISTS `expedition_series`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `expedition_series` (
  `id` int NOT NULL AUTO_INCREMENT,
  `line_id` int DEFAULT NULL,
  `serie` varchar(50) NOT NULL,
  `created_on` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `id` (`id`,`line_id`,`serie`),
  KEY `line_id` (`line_id`),
  CONSTRAINT `expedition_series_ibfk_1` FOREIGN KEY (`line_id`) REFERENCES `expedition_lines` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=3277 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `expedition_series`
--

LOCK TABLES `expedition_series` WRITE;
/*!40000 ALTER TABLE `expedition_series` DISABLE KEYS */;
/*!40000 ALTER TABLE `expedition_series` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `expeditions`
--

DROP TABLE IF EXISTS `expeditions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `expeditions` (
  `id` int NOT NULL AUTO_INCREMENT,
  `proforma_id` int NOT NULL,
  `note` varchar(50) DEFAULT NULL,
  `created_on` datetime DEFAULT NULL,
  `from_sale_type` int NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `sale_expedition_from_onlyone_proforma` (`proforma_id`),
  CONSTRAINT `expeditions_ibfk_1` FOREIGN KEY (`proforma_id`) REFERENCES `sale_proformas` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=22 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `expeditions`
--

LOCK TABLES `expeditions` WRITE;
/*!40000 ALTER TABLE `expeditions` DISABLE KEYS */;
/*!40000 ALTER TABLE `expeditions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `imeis`
--

DROP TABLE IF EXISTS `imeis`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `imeis` (
  `imei` varchar(50) NOT NULL,
  `item_id` int NOT NULL,
  `condition` varchar(50) DEFAULT NULL,
  `spec` varchar(50) DEFAULT NULL,
  `warehouse_id` int NOT NULL,
  PRIMARY KEY (`imei`),
  KEY `item_id` (`item_id`),
  KEY `warehouse_id` (`warehouse_id`),
  CONSTRAINT `imeis_ibfk_1` FOREIGN KEY (`item_id`) REFERENCES `items` (`id`),
  CONSTRAINT `imeis_ibfk_2` FOREIGN KEY (`warehouse_id`) REFERENCES `warehouses` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `imeis`
--

LOCK TABLES `imeis` WRITE;
/*!40000 ALTER TABLE `imeis` DISABLE KEYS */;
/*!40000 ALTER TABLE `imeis` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `imeis_mask`
--

DROP TABLE IF EXISTS `imeis_mask`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `imeis_mask` (
  `imei` varchar(50) NOT NULL,
  `item_id` int NOT NULL,
  `condition` varchar(50) NOT NULL,
  `spec` varchar(50) NOT NULL,
  `warehouse_id` int NOT NULL,
  `origin_id` int NOT NULL,
  PRIMARY KEY (`imei`),
  KEY `item_id` (`item_id`),
  KEY `warehouse_id` (`warehouse_id`),
  CONSTRAINT `imeis_mask_ibfk_1` FOREIGN KEY (`item_id`) REFERENCES `items` (`id`),
  CONSTRAINT `imeis_mask_ibfk_2` FOREIGN KEY (`warehouse_id`) REFERENCES `warehouses` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `imeis_mask`
--

LOCK TABLES `imeis_mask` WRITE;
/*!40000 ALTER TABLE `imeis_mask` DISABLE KEYS */;
/*!40000 ALTER TABLE `imeis_mask` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `items`
--

DROP TABLE IF EXISTS `items`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `items` (
  `id` int NOT NULL AUTO_INCREMENT,
  `mpn` varchar(50) DEFAULT NULL,
  `manufacturer` varchar(50) DEFAULT NULL,
  `category` varchar(50) DEFAULT NULL,
  `model` varchar(50) DEFAULT NULL,
  `capacity` varchar(50) DEFAULT NULL,
  `color` varchar(50) DEFAULT NULL,
  `has_serie` tinyint(1) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uix_1` (`mpn`,`manufacturer`,`category`,`model`,`capacity`,`color`)
) ENGINE=InnoDB AUTO_INCREMENT=162 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `items`
--

LOCK TABLES `items` WRITE;
/*!40000 ALTER TABLE `items` DISABLE KEYS */;
/*!40000 ALTER TABLE `items` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `partner_accounts`
--

DROP TABLE IF EXISTS `partner_accounts`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `partner_accounts` (
  `id` int NOT NULL AUTO_INCREMENT,
  `partner_id` int DEFAULT NULL,
  `bank_name` varchar(50) DEFAULT NULL,
  `iban` varchar(50) DEFAULT NULL,
  `swift` varchar(50) DEFAULT NULL,
  `bank_address` varchar(50) DEFAULT NULL,
  `bank_postcode` varchar(50) DEFAULT NULL,
  `bank_city` varchar(50) DEFAULT NULL,
  `bank_state` varchar(50) DEFAULT NULL,
  `bank_country` varchar(50) DEFAULT NULL,
  `bank_routing` varchar(50) DEFAULT NULL,
  `currency` varchar(50) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `partner_id` (`partner_id`),
  CONSTRAINT `partner_accounts_ibfk_1` FOREIGN KEY (`partner_id`) REFERENCES `partners` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `partner_accounts`
--

LOCK TABLES `partner_accounts` WRITE;
/*!40000 ALTER TABLE `partner_accounts` DISABLE KEYS */;
INSERT INTO `partner_accounts` VALUES (1,4,'Barclays','GB93BARC20365052831299','BARCGB22','','','','','United Kingdom','','');
/*!40000 ALTER TABLE `partner_accounts` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `partner_contacts`
--

DROP TABLE IF EXISTS `partner_contacts`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `partner_contacts` (
  `id` int NOT NULL AUTO_INCREMENT,
  `partner_id` int DEFAULT NULL,
  `name` varchar(50) DEFAULT NULL,
  `position` varchar(50) DEFAULT NULL,
  `phone` varchar(50) DEFAULT NULL,
  `email` varchar(50) DEFAULT NULL,
  `note` varchar(50) DEFAULT NULL,
  `preferred` tinyint(1) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `partner_id` (`partner_id`),
  CONSTRAINT `partner_contacts_ibfk_1` FOREIGN KEY (`partner_id`) REFERENCES `partners` (`id`),
  CONSTRAINT `no_empty_contact_email` CHECK ((`email` <> _utf8mb4'')),
  CONSTRAINT `no_empty_contact_name` CHECK ((`name` <> _utf8mb4'')),
  CONSTRAINT `no_empty_position` CHECK ((`position` <> _utf8mb4''))
) ENGINE=InnoDB AUTO_INCREMENT=20 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `partner_contacts`
--

LOCK TABLES `partner_contacts` WRITE;
/*!40000 ALTER TABLE `partner_contacts` DISABLE KEYS */;
/*!40000 ALTER TABLE `partner_contacts` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `partner_documents`
--

DROP TABLE IF EXISTS `partner_documents`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `partner_documents` (
  `id` int NOT NULL AUTO_INCREMENT,
  `partner_id` int DEFAULT NULL,
  `name` varchar(50) DEFAULT NULL,
  `document` longblob,
  `created_on` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `name` (`name`),
  KEY `partner_id` (`partner_id`),
  CONSTRAINT `partner_documents_ibfk_1` FOREIGN KEY (`partner_id`) REFERENCES `partners` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `partner_documents`
--

LOCK TABLES `partner_documents` WRITE;
/*!40000 ALTER TABLE `partner_documents` DISABLE KEYS */;
/*!40000 ALTER TABLE `partner_documents` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `partners`
--

DROP TABLE IF EXISTS `partners`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `partners` (
  `id` int NOT NULL AUTO_INCREMENT,
  `fiscal_number` varchar(50) NOT NULL,
  `fiscal_name` varchar(50) NOT NULL,
  `trading_name` varchar(50) NOT NULL,
  `warranty` int DEFAULT NULL,
  `note` varchar(255) DEFAULT NULL,
  `amount_credit_limit` double DEFAULT NULL,
  `days_credit_limit` int DEFAULT NULL,
  `created_on` datetime DEFAULT NULL,
  `agent_id` int DEFAULT NULL,
  `they_pay_they_ship` tinyint(1) NOT NULL,
  `they_pay_we_ship` tinyint(1) NOT NULL,
  `we_pay_they_ship` tinyint(1) NOT NULL,
  `we_pay_we_ship` tinyint(1) NOT NULL,
  `euro` tinyint(1) DEFAULT NULL,
  `active` tinyint(1) DEFAULT NULL,
  `isp` tinyint(1) DEFAULT NULL,
  `re` tinyint(1) DEFAULT NULL,
  `shipping_line1` varchar(50) DEFAULT NULL,
  `shipping_line2` varchar(50) DEFAULT NULL,
  `shipping_line3` varchar(50) DEFAULT NULL,
  `shipping_city` varchar(50) DEFAULT NULL,
  `shipping_state` varchar(50) DEFAULT NULL,
  `shipping_country` varchar(50) DEFAULT NULL,
  `shipping_postcode` varchar(50) DEFAULT NULL,
  `billing_line1` varchar(50) DEFAULT NULL,
  `billing_line2` varchar(50) DEFAULT NULL,
  `billing_line3` varchar(50) DEFAULT NULL,
  `billing_city` varchar(50) DEFAULT NULL,
  `billing_state` varchar(50) DEFAULT NULL,
  `billing_country` varchar(50) DEFAULT NULL,
  `billing_postcode` varchar(50) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `trading_name` (`trading_name`),
  KEY `agent_id` (`agent_id`),
  CONSTRAINT `partners_ibfk_1` FOREIGN KEY (`agent_id`) REFERENCES `agents` (`id`),
  CONSTRAINT `no_empty_partner_fiscal_name` CHECK ((`fiscal_name` <> _utf8mb4'')),
  CONSTRAINT `no_empty_partner_fiscal_number` CHECK ((`fiscal_number` <> _utf8mb4'')),
  CONSTRAINT `no_empty_partner_trading_name` CHECK ((`trading_name` <> _utf8mb4''))
) ENGINE=InnoDB AUTO_INCREMENT=23 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `partners`
--

LOCK TABLES `partners` WRITE;
/*!40000 ALTER TABLE `partners` DISABLE KEYS */;
/*!40000 ALTER TABLE `partners` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `purchase_documents`
--

DROP TABLE IF EXISTS `purchase_documents`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `purchase_documents` (
  `id` int NOT NULL AUTO_INCREMENT,
  `proforma_id` int DEFAULT NULL,
  `name` varchar(50) NOT NULL,
  `document` longblob,
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_document_name` (`proforma_id`,`name`),
  CONSTRAINT `purchase_documents_ibfk_1` FOREIGN KEY (`proforma_id`) REFERENCES `purchase_proformas` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `purchase_documents`
--

LOCK TABLES `purchase_documents` WRITE;
/*!40000 ALTER TABLE `purchase_documents` DISABLE KEYS */;
/*!40000 ALTER TABLE `purchase_documents` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `purchase_expenses`
--

DROP TABLE IF EXISTS `purchase_expenses`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `purchase_expenses` (
  `id` int NOT NULL AUTO_INCREMENT,
  `proforma_id` int DEFAULT NULL,
  `date` date DEFAULT NULL,
  `amount` double DEFAULT NULL,
  `note` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `proforma_id` (`proforma_id`),
  CONSTRAINT `purchase_expenses_ibfk_1` FOREIGN KEY (`proforma_id`) REFERENCES `purchase_proformas` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `purchase_expenses`
--

LOCK TABLES `purchase_expenses` WRITE;
/*!40000 ALTER TABLE `purchase_expenses` DISABLE KEYS */;
INSERT INTO `purchase_expenses` VALUES (3,4,'2022-03-15',38.73,'Bank Fees to Corpay'),(4,5,'2022-03-15',144.62,'Bank Fees to Corpay'),(5,3,'2022-03-15',56.22,'Bank Fees to Corpay'),(6,1,'2022-03-15',141.43,'bank fees Corpay'),(7,13,'2022-02-28',95.08,'TYSA'),(8,14,'2022-02-28',17.85,'TYSA');
/*!40000 ALTER TABLE `purchase_expenses` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `purchase_invoices`
--

DROP TABLE IF EXISTS `purchase_invoices`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `purchase_invoices` (
  `id` int NOT NULL AUTO_INCREMENT,
  `type` int NOT NULL,
  `number` int NOT NULL,
  `date` date DEFAULT NULL,
  `eta` date DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `type` (`type`,`number`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `purchase_invoices`
--

LOCK TABLES `purchase_invoices` WRITE;
/*!40000 ALTER TABLE `purchase_invoices` DISABLE KEYS */;
INSERT INTO `purchase_invoices` VALUES (1,1,1,'2022-03-17','2022-03-17');
/*!40000 ALTER TABLE `purchase_invoices` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `purchase_payments`
--

DROP TABLE IF EXISTS `purchase_payments`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `purchase_payments` (
  `id` int NOT NULL AUTO_INCREMENT,
  `proforma_id` int DEFAULT NULL,
  `date` date DEFAULT NULL,
  `amount` double DEFAULT NULL,
  `note` varchar(255) DEFAULT NULL,
  `rate` double NOT NULL,
  PRIMARY KEY (`id`),
  KEY `ix_purchase_payments_proforma_id` (`proforma_id`),
  CONSTRAINT `purchase_payments_ibfk_1` FOREIGN KEY (`proforma_id`) REFERENCES `purchase_proformas` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=18 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `purchase_payments`
--

LOCK TABLES `purchase_payments` WRITE;
/*!40000 ALTER TABLE `purchase_payments` DISABLE KEYS */;
/*!40000 ALTER TABLE `purchase_payments` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `purchase_proforma_lines`
--

DROP TABLE IF EXISTS `purchase_proforma_lines`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `purchase_proforma_lines` (
  `id` int NOT NULL AUTO_INCREMENT,
  `proforma_id` int DEFAULT NULL,
  `item_id` int DEFAULT NULL,
  `description` varchar(100) DEFAULT NULL,
  `condition` varchar(50) DEFAULT NULL,
  `spec` varchar(50) DEFAULT NULL,
  `quantity` int NOT NULL,
  `price` double NOT NULL,
  `tax` int NOT NULL,
  PRIMARY KEY (`id`),
  KEY `proforma_id` (`proforma_id`),
  KEY `item_id` (`item_id`),
  CONSTRAINT `purchase_proforma_lines_ibfk_1` FOREIGN KEY (`proforma_id`) REFERENCES `purchase_proformas` (`id`),
  CONSTRAINT `purchase_proforma_lines_ibfk_2` FOREIGN KEY (`item_id`) REFERENCES `items` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=134 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `purchase_proforma_lines`
--

LOCK TABLES `purchase_proforma_lines` WRITE;
/*!40000 ALTER TABLE `purchase_proforma_lines` DISABLE KEYS */;
/*!40000 ALTER TABLE `purchase_proforma_lines` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `purchase_proformas`
--

DROP TABLE IF EXISTS `purchase_proformas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `purchase_proformas` (
  `id` int NOT NULL AUTO_INCREMENT,
  `type` smallint NOT NULL,
  `number` int NOT NULL,
  `created_on` datetime DEFAULT NULL,
  `date` date NOT NULL,
  `warranty` int DEFAULT NULL,
  `eta` date NOT NULL,
  `cancelled` tinyint(1) NOT NULL,
  `sent` tinyint(1) NOT NULL,
  `note` varchar(255) DEFAULT NULL,
  `eur_currency` tinyint(1) NOT NULL,
  `they_pay_they_ship` tinyint(1) NOT NULL,
  `we_pay_they_ship` tinyint(1) NOT NULL,
  `we_pay_we_ship` tinyint(1) NOT NULL,
  `partner_id` int DEFAULT NULL,
  `courier_id` int DEFAULT NULL,
  `warehouse_id` int DEFAULT NULL,
  `agent_id` int DEFAULT NULL,
  `invoice_id` int DEFAULT NULL,
  `tracking` varchar(50) DEFAULT NULL,
  `external` varchar(50) DEFAULT NULL,
  `credit_amount` double DEFAULT NULL,
  `credit_days` int NOT NULL,
  `incoterm` varchar(3) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `type` (`type`,`number`),
  KEY `partner_id` (`partner_id`),
  KEY `courier_id` (`courier_id`),
  KEY `warehouse_id` (`warehouse_id`),
  KEY `agent_id` (`agent_id`),
  KEY `invoice_id` (`invoice_id`),
  CONSTRAINT `purchase_proformas_ibfk_1` FOREIGN KEY (`partner_id`) REFERENCES `partners` (`id`),
  CONSTRAINT `purchase_proformas_ibfk_2` FOREIGN KEY (`courier_id`) REFERENCES `couriers` (`id`),
  CONSTRAINT `purchase_proformas_ibfk_3` FOREIGN KEY (`warehouse_id`) REFERENCES `warehouses` (`id`),
  CONSTRAINT `purchase_proformas_ibfk_4` FOREIGN KEY (`agent_id`) REFERENCES `agents` (`id`),
  CONSTRAINT `purchase_proformas_ibfk_5` FOREIGN KEY (`invoice_id`) REFERENCES `purchase_invoices` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=17 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `purchase_proformas`
--

LOCK TABLES `purchase_proformas` WRITE;
/*!40000 ALTER TABLE `purchase_proformas` DISABLE KEYS */;
/*!40000 ALTER TABLE `purchase_proformas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `reception_lines`
--

DROP TABLE IF EXISTS `reception_lines`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `reception_lines` (
  `id` int NOT NULL AUTO_INCREMENT,
  `reception_id` int DEFAULT NULL,
  `item_id` int DEFAULT NULL,
  `description` varchar(100) DEFAULT NULL,
  `condition` varchar(50) NOT NULL,
  `spec` varchar(50) NOT NULL,
  `quantity` int NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `id` (`id`,`reception_id`),
  KEY `reception_id` (`reception_id`),
  KEY `item_id` (`item_id`),
  CONSTRAINT `reception_lines_ibfk_1` FOREIGN KEY (`reception_id`) REFERENCES `receptions` (`id`),
  CONSTRAINT `reception_lines_ibfk_2` FOREIGN KEY (`item_id`) REFERENCES `items` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=90 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `reception_lines`
--

LOCK TABLES `reception_lines` WRITE;
/*!40000 ALTER TABLE `reception_lines` DISABLE KEYS */;
/*!40000 ALTER TABLE `reception_lines` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `reception_series`
--

DROP TABLE IF EXISTS `reception_series`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `reception_series` (
  `id` int NOT NULL AUTO_INCREMENT,
  `item_id` int NOT NULL,
  `line_id` int NOT NULL,
  `serie` varchar(50) NOT NULL,
  `condition` varchar(50) NOT NULL,
  `spec` varchar(50) NOT NULL,
  `created_on` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `item_id` (`item_id`),
  KEY `line_id` (`line_id`),
  CONSTRAINT `reception_series_ibfk_1` FOREIGN KEY (`item_id`) REFERENCES `items` (`id`),
  CONSTRAINT `reception_series_ibfk_2` FOREIGN KEY (`line_id`) REFERENCES `reception_lines` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=3254 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `reception_series`
--

LOCK TABLES `reception_series` WRITE;
/*!40000 ALTER TABLE `reception_series` DISABLE KEYS */;
/*!40000 ALTER TABLE `reception_series` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `receptions`
--

DROP TABLE IF EXISTS `receptions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `receptions` (
  `id` int NOT NULL AUTO_INCREMENT,
  `proforma_id` int NOT NULL,
  `note` varchar(50) DEFAULT NULL,
  `created_on` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `purchase_reception_from_onlyone_proforma` (`proforma_id`),
  UNIQUE KEY `proforma_id` (`proforma_id`),
  CONSTRAINT `receptions_ibfk_1` FOREIGN KEY (`proforma_id`) REFERENCES `purchase_proformas` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=17 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `receptions`
--

LOCK TABLES `receptions` WRITE;
/*!40000 ALTER TABLE `receptions` DISABLE KEYS */;
INSERT INTO `receptions` VALUES (2,1,'AS is A+, BS is A+/A, CS is AB','2022-03-08 18:25:36'),(3,4,'','2022-03-10 15:43:46'),(4,3,'','2022-03-17 11:56:36'),(5,5,'','2022-03-17 11:56:42'),(6,6,'','2022-03-17 14:49:49'),(7,13,'','2022-03-17 16:58:18'),(8,14,'','2022-03-17 16:58:21'),(9,7,'','2022-03-24 17:58:56'),(10,8,'','2022-03-24 18:13:15'),(11,12,'','2022-03-24 18:14:31'),(12,11,'','2022-03-24 18:18:56'),(13,9,'','2022-03-24 18:20:09'),(14,10,'','2022-03-24 18:30:26'),(15,15,'','2022-03-24 18:50:27'),(16,16,'','2022-03-24 18:53:09');
/*!40000 ALTER TABLE `receptions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sale_documents`
--

DROP TABLE IF EXISTS `sale_documents`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `sale_documents` (
  `id` int NOT NULL AUTO_INCREMENT,
  `proforma_id` int DEFAULT NULL,
  `name` varchar(50) NOT NULL,
  `document` longblob,
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_document_name` (`proforma_id`,`name`),
  CONSTRAINT `sale_documents_ibfk_1` FOREIGN KEY (`proforma_id`) REFERENCES `sale_proformas` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sale_documents`
--

LOCK TABLES `sale_documents` WRITE;
/*!40000 ALTER TABLE `sale_documents` DISABLE KEYS */;
/*!40000 ALTER TABLE `sale_documents` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sale_expenses`
--

DROP TABLE IF EXISTS `sale_expenses`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `sale_expenses` (
  `id` int NOT NULL AUTO_INCREMENT,
  `proforma_id` int DEFAULT NULL,
  `date` date DEFAULT NULL,
  `amount` double NOT NULL,
  `note` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `proforma_id` (`proforma_id`),
  CONSTRAINT `sale_expenses_ibfk_1` FOREIGN KEY (`proforma_id`) REFERENCES `sale_proformas` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sale_expenses`
--

LOCK TABLES `sale_expenses` WRITE;
/*!40000 ALTER TABLE `sale_expenses` DISABLE KEYS */;
/*!40000 ALTER TABLE `sale_expenses` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sale_invoices`
--

DROP TABLE IF EXISTS `sale_invoices`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `sale_invoices` (
  `id` int NOT NULL AUTO_INCREMENT,
  `type` int NOT NULL,
  `number` int NOT NULL,
  `date` date DEFAULT NULL,
  `eta` date DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_sales_sale_invoices` (`type`,`number`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sale_invoices`
--

LOCK TABLES `sale_invoices` WRITE;
/*!40000 ALTER TABLE `sale_invoices` DISABLE KEYS */;
INSERT INTO `sale_invoices` VALUES (1,1,1,'2022-03-24','2022-03-24');
/*!40000 ALTER TABLE `sale_invoices` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sale_payments`
--

DROP TABLE IF EXISTS `sale_payments`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `sale_payments` (
  `id` int NOT NULL AUTO_INCREMENT,
  `proforma_id` int DEFAULT NULL,
  `date` date DEFAULT NULL,
  `amount` double NOT NULL,
  `note` varchar(255) DEFAULT NULL,
  `rate` double NOT NULL,
  PRIMARY KEY (`id`),
  KEY `proforma_id` (`proforma_id`),
  CONSTRAINT `sale_payments_ibfk_1` FOREIGN KEY (`proforma_id`) REFERENCES `sale_proformas` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sale_payments`
--

LOCK TABLES `sale_payments` WRITE;
/*!40000 ALTER TABLE `sale_payments` DISABLE KEYS */;
INSERT INTO `sale_payments` VALUES (1,19,'2022-03-16',63742.35,'Deutsche',0),(2,14,'2022-03-22',33730,'Wise',0),(5,35,'2022-03-21',114228,'Deutsche',0);
/*!40000 ALTER TABLE `sale_payments` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sale_proforma_lines`
--

DROP TABLE IF EXISTS `sale_proforma_lines`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `sale_proforma_lines` (
  `id` int NOT NULL AUTO_INCREMENT,
  `proforma_id` int DEFAULT NULL,
  `item_id` int DEFAULT NULL,
  `mix_id` varchar(36) DEFAULT NULL,
  `description` varchar(100) DEFAULT NULL,
  `condition` varchar(50) DEFAULT NULL,
  `showing_condition` varchar(50) DEFAULT NULL,
  `spec` varchar(50) DEFAULT NULL,
  `ignore_spec` tinyint(1) DEFAULT NULL,
  `quantity` int NOT NULL,
  `price` double NOT NULL,
  `tax` int NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `id` (`id`,`proforma_id`),
  KEY `proforma_id` (`proforma_id`),
  KEY `item_id` (`item_id`),
  CONSTRAINT `sale_proforma_lines_ibfk_1` FOREIGN KEY (`proforma_id`) REFERENCES `sale_proformas` (`id`),
  CONSTRAINT `sale_proforma_lines_ibfk_2` FOREIGN KEY (`item_id`) REFERENCES `items` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=151 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sale_proforma_lines`
--

LOCK TABLES `sale_proforma_lines` WRITE;
/*!40000 ALTER TABLE `sale_proforma_lines` DISABLE KEYS */;
/*!40000 ALTER TABLE `sale_proforma_lines` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sale_proformas`
--

DROP TABLE IF EXISTS `sale_proformas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `sale_proformas` (
  `id` int NOT NULL AUTO_INCREMENT,
  `type` smallint DEFAULT NULL,
  `number` int DEFAULT NULL,
  `created_on` datetime DEFAULT NULL,
  `date` date DEFAULT NULL,
  `warranty` int DEFAULT NULL,
  `eta` date DEFAULT NULL,
  `cancelled` tinyint(1) DEFAULT NULL,
  `sent` tinyint(1) DEFAULT NULL,
  `note` varchar(255) DEFAULT NULL,
  `eur_currency` tinyint(1) DEFAULT NULL,
  `they_pay_they_ship` tinyint(1) DEFAULT NULL,
  `they_pay_we_ship` tinyint(1) DEFAULT NULL,
  `we_pay_we_ship` tinyint(1) DEFAULT NULL,
  `partner_id` int DEFAULT NULL,
  `courier_id` int DEFAULT NULL,
  `warehouse_id` int DEFAULT NULL,
  `agent_id` int DEFAULT NULL,
  `sale_invoice_id` int DEFAULT NULL,
  `credit_amount` double DEFAULT NULL,
  `credit_days` int DEFAULT NULL,
  `tracking` varchar(50) DEFAULT NULL,
  `external` varchar(50) DEFAULT NULL,
  `ready` tinyint(1) NOT NULL,
  `incoterm` varchar(3) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `type` (`type`,`number`),
  KEY `partner_id` (`partner_id`),
  KEY `courier_id` (`courier_id`),
  KEY `warehouse_id` (`warehouse_id`),
  KEY `agent_id` (`agent_id`),
  KEY `sale_invoice_id` (`sale_invoice_id`),
  CONSTRAINT `sale_proformas_ibfk_1` FOREIGN KEY (`partner_id`) REFERENCES `partners` (`id`),
  CONSTRAINT `sale_proformas_ibfk_2` FOREIGN KEY (`courier_id`) REFERENCES `couriers` (`id`),
  CONSTRAINT `sale_proformas_ibfk_3` FOREIGN KEY (`warehouse_id`) REFERENCES `warehouses` (`id`),
  CONSTRAINT `sale_proformas_ibfk_4` FOREIGN KEY (`agent_id`) REFERENCES `agents` (`id`),
  CONSTRAINT `sale_proformas_ibfk_5` FOREIGN KEY (`sale_invoice_id`) REFERENCES `sale_invoices` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=60 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sale_proformas`
--

LOCK TABLES `sale_proformas` WRITE;
/*!40000 ALTER TABLE `sale_proformas` DISABLE KEYS */;
/*!40000 ALTER TABLE `sale_proformas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `spec_changes`
--

DROP TABLE IF EXISTS `spec_changes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `spec_changes` (
  `id` int NOT NULL AUTO_INCREMENT,
  `sn` varchar(50) NOT NULL,
  `before` varchar(50) NOT NULL,
  `after` varchar(50) NOT NULL,
  `created_on` datetime DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `spec_changes`
--

LOCK TABLES `spec_changes` WRITE;
/*!40000 ALTER TABLE `spec_changes` DISABLE KEYS */;
/*!40000 ALTER TABLE `spec_changes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `specs`
--

DROP TABLE IF EXISTS `specs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `specs` (
  `id` int NOT NULL AUTO_INCREMENT,
  `description` varchar(50) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `description` (`description`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `specs`
--

LOCK TABLES `specs` WRITE;
/*!40000 ALTER TABLE `specs` DISABLE KEYS */;
INSERT INTO `specs` VALUES (4,'EU'),(2,'Japan'),(1,'Mix'),(3,'US');
/*!40000 ALTER TABLE `specs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `warehouse_changes`
--

DROP TABLE IF EXISTS `warehouse_changes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `warehouse_changes` (
  `id` int NOT NULL AUTO_INCREMENT,
  `sn` varchar(50) NOT NULL,
  `before` varchar(50) NOT NULL,
  `after` varchar(50) NOT NULL,
  `created_on` datetime DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `warehouse_changes`
--

LOCK TABLES `warehouse_changes` WRITE;
/*!40000 ALTER TABLE `warehouse_changes` DISABLE KEYS */;
/*!40000 ALTER TABLE `warehouse_changes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `warehouses`
--

DROP TABLE IF EXISTS `warehouses`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `warehouses` (
  `id` int NOT NULL AUTO_INCREMENT,
  `description` varchar(50) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `description` (`description`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `warehouses`
--

LOCK TABLES `warehouses` WRITE;
/*!40000 ALTER TABLE `warehouses` DISABLE KEYS */;
INSERT INTO `warehouses` VALUES (1,'General');
/*!40000 ALTER TABLE `warehouses` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2022-04-14 10:32:45
